
.nuka-carousel {
    position: relative;
    margin-bottom: 10px; 

  }
  
  /* Target the images inside the Carousel */
  .nuka-carousel img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  