.navbar {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.nav-logo {
    margin: 10px;
    padding-right: 300px;
    flex: 1;
}

.icons-container {
    display: flex;
    margin-left: 300px;
}



@media all and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start; 
        justify-content: space-between;
    }

    .nav-logo {
        padding-right: 0; 
        margin-bottom: 10px; 
        flex-basis: auto; 

    }

    .icons-container {
        margin-left: 0; /* Reset left margin */
        display: flex;
        justify-content: flex-end; /* Align icons to the end */
        width: 100%; /* Occupy full width */
    }

    .icons-container > div {
        display: block; /* Display icons in mobile view */
    }
}




@media all and (max-width: 560px) {

    .nav-logo {
       display: none;

    }
}
