.edit {
    text-align: center;

}

.edit-header {
    margin: 30px;
    padding: 10px;
}
.edit-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-label {
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

