@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body, html {

    background-color: #f4f4f4;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}
