@tailwind base;
@tailwind components;
@tailwind utilities;




body, html {

    background-color: #f4f4f4;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
  }



  
  
  /* Styles for tablets and above */
  
  @media (min-width: 768px) {
  
    body {
  
      background-color: #e2e2e2;
  
      font-size: 18px;
  
    }
  
  }
  
  
  
  /* Styles for desktops and above */
  
  @media (min-width: 1024px) {
  
    body {
  
      background-color: #d0d0d0;
  
      font-size: 20px;
  
    }
}